<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >

  
<test name="orderingpage">
 <classes>
<class name="com.atmecs.testscripts1.DemoqaOrderingPage "></class>
</classes>
</test>


<test name="orderingpagebysearch">
 <classes>
<class name="com.atmecs.testscripts2.DemoqaOrderingPageBySearch"></class>
</classes>
</test>

</suite>